.MuiDataGrid-footer {
  display: none !important;
}

.MuiDataGrid-renderingZone, .MuiDataGrid-renderingZone > div {
  width: auto !important;
}

.MuiDataGrid-cell {
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.mobile__list {
  padding: 0 24px;
}

.mobile__list_item {
  font-family: 'Roboto';
  padding: 10px;
  border-bottom: 1px solid grey;
}

.btn__sort {
  position: fixed !important;
  top: 120px;
  right: -45px;
  transform: rotateZ(-90deg);
}
